*,
::after,
::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
    font-size: 22px;
    font-family: Poppins-Regular, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    /* margin: 10em;
    padding: 5em; */

}
#agecalc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgb(102, 0, 255);
    margin: 2em auto;
    height: 90vh;

}
article {
    border: 2px solid red;
    margin: 4em auto;
    align-items: center;
    margin-left: 12em;
    margin-right:12em;
    padding: 20px;
    height: 150vh;
    width: 23em;
    border-radius: 20px;
    border-bottom-right-radius:6.3em;
    
}
#date-form {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: auto;
       
}
input {
    font-size: 32px;
    width: 3.4em;
    padding: 3px;
    margin: 10px;
    margin-left: 5px;
    font-weight: 750;
    border: 1px solid black;
    border-radius: 5px;

}
#label {
    margin-left:5px;
    font-weight: 600;
    color: rgb(83, 81, 81);
}
label {
    font-size: 17px;
    margin-left: 5px;
}
#age {
    margin-top: 30px;
    margin-left: 5px;
}
 #age h1 {
    font-style: italic;
    font: poppins-bold;
    font-size: 42px;
    font-weight: 900;
 }
 



.attribution {
     font-size: 11px;
     text-align: center;
     }
    .attribution a { 
        color: hsl(228, 45%, 44%);
     }

